body {
  background-image: url("../WebsiteBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 975px; /* 975 */
  margin-left: auto;
  margin-right: auto;
  font-family: serif, sans-serif;
  }

a {
  color: #668cff;
  }

svg {
  display: block;
  margin-right:auto;
  }

#header {
  border-radius: 15px;
  background-color: #668cff;
  text-align: center;
  }

#content {
    padding: 10px; 
  }

#nav {
  border-radius: 15px 50px;
  width: 170px; /* 155 */
  float: left;
  background-color: #022866;
  text-align: center;
  color:#ff3030;
  }

#about {
  width: 745px; /* 600 */
  border-radius: 15px 50px 30px;
  padding: 10px;
  float: right;
  background-color: #FFFFFF;
  }

#multimedia {
  width: 745px; /* 600 */
  border-radius: 15px;
  margin-top: 15px;
  /* padding: 20px 10px 20px 10px;  top, right, bottom, left */
  padding: 10px;
  float: right;
  background-color: #FFFFFF; /* transparent */
  /*background-image: url("../WhiteHeader.jpg");
  background-repeat: repeat-x;*/
}

#Resume {
  /*width: 125px;
  padding: 10px;
  margin: 0 auto;*/
  text-align: center;
}

#contact {
  width: 745px; /* 600 */
  border-radius: 15px 15px 0px 0px;
  margin-top: 15px;
  /* padding: 20px 10px 20px 10px;  top, right, bottom, left */
  padding: 10px;
  float: right;
  background-color: #FFFFFF;
  }

#nav selected {
  font-weight: bold;
  }

#nav ul {
  padding: 0;
  list-style-type: none;
  }
