body {
  background-color: #b3b3cc;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  font-family: serif, sans-serif;
}

a {
  color: green;
}

#header {
  background-color: #668cff;
  text-align: center;
  }
#content {
    padding: 10px;
  }
#nav {
    width: 140px;
    float: left;
    background-color: #ff6666;
    text-align: center;
  }
  #about {
    width: 600px;
    float: right;
  }
  #contact {
    width: 600px;
    float: right;
  }
 #nav selected {
    font-weight: bold;
  }
  #nav ul {
    padding: 0;
    list-style-type: none;
  }
