body {
  background-color: #b3b3cc;
  width: 975px; /* 800 */
  margin-left: auto;
  margin-right: auto;
  font-family: serif, sans-serif;
  }

a {
  color: #668cff;
  }

svg {
  display: block;
  margin-left: auto;
  }

#header {
  background-color: #668cff;
  text-align: center;
  }

#content {
    padding: 10px; 
  }

#nav {
  width: 170px; /* 155 */
  float: left;
  background-color: #602040;
  text-align: center;
  color:#b3b3cc
  }

#about {
  width: 745px; /* 600 */
  padding: 10px;
  float: right;
  background-color: #FFFFFF;
  }

#multimedia {
  width: 745px; /* 600 */
  padding: 10px;
  float: right;
  background-color: #FFFFFF;
}

#contact {
  width: 745px; /* 600 */
  padding: 10px;
  float: right;
  background-color: #FFFFFF;
  }

#nav selected {
  font-weight: bold;
  }

#nav ul {
  padding: 0;
  list-style-type: none;
  }
